################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thesis_Rillan Trading/.vs/Thesis_Rillan Trading/v15
/Thesis_Rillan Trading/Thesis_Rillan Trading/obj/Debug
